.imgIcon{
    border-radius: 100%;
    box-shadow: 0px 0px 25px black;
    width: 150px;
    transition: 1s ease;
}
.imgIcon:hover{
    border-radius: 0;
    box-shadow: 0px 0px 25px white;
}
.titoloAbb{
    text-shadow: 0px 0px 100px rgba(240, 248, 255, 0.185);
    animation-name: AnimationTitle;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes AnimationTitle{
    0%{
        text-shadow: 0px 0px 15px rgba(240, 248, 255, 0.185);
    }
    10%{
        text-shadow: 0px 0px 15px rgb(240, 248, 255);
    }
    100%{
        text-shadow: 0px 0px 15px rgba(240, 248, 255, 0.185);
    }
}
.spell{
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.247);
    transition: 1s ease;
}
.spell:hover{
    backdrop-filter: blur(3px);
}
.ability{
    width: 100%;
}
.spell h1{
    text-decoration: underline;
}
.quote{
    background-color: rgba(240, 248, 255, 0.247);
    width: 100%;
    margin-top: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    transition: 1s ease;
}
q, h3{
    
    width: 60%;
    text-align: center;
}
h3{
    font-size: 1rem;
}
.pTitle{
    margin-top: 25px;
    animation-name: AnimationTitlePassive;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes AnimationTitlePassive{
    0%{
        text-shadow: 0px 0px 15px rgba(255, 240, 240, 0.185);
    }
    10%{
        text-shadow: 0px 0px 15px rgb(255, 52, 52);
    }
    100%{
        text-shadow: 0px 0px 15px rgba(255, 240, 240, 0.185);
    }
}
.passive{
    background-color: rgba(240, 248, 255, 0.247);
    width: 100%;
    margin-top: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    transition: 1s ease;
}
.passive:hover{
    backdrop-filter: blur(3px);
}

body{
    background-image: url('../images/normal.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.abilies{
    margin-top: 50px;
}
img{
    width: 100px;
    margin-bottom: 15px;
    border: 1px solid white;
}